@model RealEstate.Web.Models.AccountLoginModel

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/shared/_BootstrapLayout.Login.cshtml";
}

<div style="text-align: right"> @Html.ActionLink("Registrarse", "Register", null, new { @class = "btn btn-success " })</div>
<br>

<div class="row">
    
    <div class="span4" style="margin-right: 0;">

        @using (@Html.BeginForm("LogIn", "Account", FormMethod.Post, new { @class = "form-signin" }))
        {

            <h2 class="form-signin-heading">Ingresa</h2>
            @Html.TextBoxFor(x => x.Email, new { @class = "input-block-level" })
            @Html.PasswordFor(x => x.Password, new { @class = "input-block-level" })
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Mantener sesion abierta
            </label>

            <button class="btn btn-primary" type="submit">Ingresar</button>

            <div style="left:50px">
                @Html.ActionLink("Olvido su contraseña?", "RecoverAccount", "Account")
            </div>

        }
    </div>
    <div class="span8" style="margin-left:0; ">
        <img src="~/Content/images/banner-grandes-paisajes.jpg" alt="Una foto bonita que no cargo :(">
    </div>

</div>




