@model RealEstate.Web.Models.PropertyProfileModel
@{
    ViewBag.Title = Model.PropertyName;
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}
<!-- Main hero unit for a primary marketing message or call to action -->


<div class="hero-unit">
    <h1>@Model.PropertyName</h1>
    <p>@Model.PropertyDescription</p>
    <p style="text-align:right;"><a class="btn btn-success btn-large">Comprar &raquo;</a></p>
</div>


    
        <div id="nav" data-spy="affix" data-offset-top="443" class="span12" style="text-align: center;">
            <nav class="navbar navbar-affix-top navbar" role="navigation" >
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span>*</span>
                    </button>
                    
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse navbar-right" >
                    <ul class="nav navbar-nav">
                        <li><a href="#terreno" >Terreno</a></li>
                        <li><a href="#habitaciones">Habitaciones</a></li>
                        <li><a href="#sala">Sala</a></li>
                        <li><a href="#fotos">Fotos</a></li>
                    </ul>
                </div>
            </nav>
        
        </div>
    <section id="terreno">
        <div class="row" style="margin: 50px; margin-left: 0px;">
            <div class="span4">
                <h2>Terreno</h2>
                <p>Area del terreno: @Model.LandArea </p>
                    <p>Area de construccion: @Model.ConstructionArea </p>
                        <p>Locacion: @Model.Suburb, @Model.City, @Model.Country </p>

                        </div>
                    </div>
    </section>
    <section id="habitaciones">
        <div class="row">
            <div class="span12" style="text-align: right;">
                <h2>Habitaciones</h2>
                <p>Habitaciones Normales </p>
                    <p>Habitacion Matrimonial </p>
                        
                        </div>
                    </div>
    </section>
    <section id="sala">
        <div class="row" style="margin: 50px; margin-left: 0px;">
                <div class="span4">
                    <h2>Sala</h2>
                    <p>Area de la sala </p>
                    <p>WOWOWOW </p>
                    <p>JOJOJO </p>

                </div>
            </div>
        </section>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript">

    $("document").ready(function ()
    {
        $('.hero-unit').css('background-image', 'url("~/Content/images/Casa.JPG");');
        
    });
    
</script>
